.App {
  /* text-align: center; */
  background: #f7f7f7;
  min-height: 100vh;
  /* min-width: 100vw; */
}


@keyframes load-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.details-pane{
  width: 40%;
  float: left;
  /* height: 300px; */
  text-align: center;
  padding: 20px;
  margin-top: 10px;
}

.list-pane{
  width: 58%;
  float: left;
  margin-top: 30px;
  overflow: auto;
  height: calc(100vh - 150px);
  padding: 0 10px;
}

.list-item{
  width: 100%;
  margin-bottom: 15px;
  background: #fff;
  float: left;
  border: 2px solid #eee;
  padding: 15px;
}

.list-item:hover{
    box-shadow: 0 0 10px #d4d4d4;
    cursor: pointer;
}


.indicator-image{
  float: left;
  width: 80px;
  background: #f4f4f4;
  height: 60px;
  line-height: 60px;
  font-size: 11px;
  color: #fff;
  border: 1px solid #ccc;
}

.beer-details{
  float: left;
  width: calc(100% - 80px);
  padding: 0 15px;
}

.beer-title{
  padding: 5px 10px;
  font-size: 16px;
}

.beer-info{
  float: left;
  width: 100%;
}
.beer-style{
  padding: 5px 10px;
  font-size: 13px;
  float: left;
  width: calc(100% - 300px);
}
.beer-attributes{
  float: right;
  width: 280px;
}
.beer-attributes span{
  padding: 5px 30px;
  padding-left: 10px;
  padding-right: 30px;
  border-right: 1px solid #C7C7C7;
  font-size: 12px;
}
.beer-attributes span:last-of-type{
  border: none;
}
.details-pane img{
  box-shadow: 0 0 10px 7px #dddddd;
  max-width: 100%;
  max-height:  calc(100vh - 265px);
}

.detail-item{
  padding: 10px;
  overflow: auto;
  min-height: 350px;
  max-height: calc(100vh - 215px);
  box-shadow: 0 0 10px #eee inset;
  border: 1px solid #ddd;
}

.details-pane button{
  border: none;
  background: none;
  background: #FDD835;
  color: #fff;
  padding: 7px 100px;
  margin-top: 20px;
  width: 100%;
  font-size: 15px;
  font-variant: small-caps;
}

.details-pane button:hover{
  background: #F9A825;
}

div::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

div::-webkit-scrollbar {
	width: 6px;
	background-color: #F5F5F5;
}

div::-webkit-scrollbar-thumb {
	background-color: #FDD835;
}

button:focus{
  outline: none;
}


.no-data{
  text-align: center;
  padding: 20px;
  color: #c7c7c7;
  font-style: italic;
}

.cart-badge{
  position: absolute;
  display: inline-block;
  /* height: 20px; */
  background: #ed2b1c;
  line-height: normal;
  color: #fff;
  padding: 3px 6px;
  border-radius: 50%;
  font-size: 11px;
  top: 20px;
  right: 40px;
}

.cart-item{
  padding: 10px 20px;
    margin: 20px;
    display: flex;
    background: #f9f9f9;
    box-shadow: 0 0 5px #ccc;
}

.cart-item-title{
  width: calc(100% - 120px);
}

.quantity{
  width: 120px;
  text-align: right;
}
